extends ../layouts/default.pug

block main 
    body
        input#id.d-none(type='text', name='movieId', value=`${movie._id}` data-id = `${movie._id}`)
        .box
            link(rel='stylesheet', href='/stylesheets/detail.css')
            .embed-responsive.embed-responsive-16by9.video
                iframe.centered-iframe.embed-responsive-item(src=movie.VideoLink allowfullscreen='')
            .movie-info
                .img
                    img(src=movie.ImageSrc alt='Movie Poster' class='movie-poster')
                    button.btn.btn-danger.like(type='button')
                        if user.like.includes(movie._id)
                            input#like(type='hidden', name='like', value='true')
                            i.fa-solid.fa-heart
                        else 
                            input#like(type='hidden', name='like', value='false')
                            i.fa-regular.fa-heart

                .description
                    h1 #{movie.Name}
                    p.blur #{movie.engName}
                    p Thể loại : #{name}
                    p Thời lượng : #{movie.Runtime}
                    p Quốc gia : #{movie.Country}
                    p Mô tả : #{movie.Description}
        main
            section.thumbSection
                h2.thumbTitle Relative Movies
                .thumbTiles.swiper-container
                    .swiper-wrapper
                        each film, index in relative
                            .swiper-slide
                                a.thumbTile(href=`/watch/detail/${film._id}`)
                                    img.thumbTile__image(src=film.ImageSrc alt=`${film.Name}`)
                                p.nameMovie #{film.Name}
        main
            section.thumbSection
                h2.thumbTitle Có thể bạn sẽ thích
                .thumbTiles.swiper-container
                    .swiper-wrapper
                        each film, index in movies
                            .swiper-slide
                                a.thumbTile(href=`/watch/detail/${film._id}`)
                                    img.thumbTile__image(src=film.ImageSrc alt=`${film.Name}`)
                                p.nameMovie #{film.Name}
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(src='/js/detail.js')