extends ../layouts/default.pug

block main 
    #carouselExampleIndicators.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
            each film, index in films
                if(index === 0)
                    li.active(data-target='#carouselExampleIndicators', data-slide-to= index)
                else
                    li(data-slide-to= index)
        .carousel-inner
            if films
                each film, index in films
                    .carousel-item(class=index === 0 ? 'active' : '')
                        img.d-block.w-100(src=`/images/phim${index+1}.jpeg` alt=`Poster of ${film.title}`)
                        .gradient-overlay
                        .carousel-caption
                            h5= film.Name
                            p= film.Description
                            a.button-slider(href=`/watch/detail/${film._id}`)
                                i.fa-solid.fa-play
                            a.button-slider.like-button 
                                i.fa-regular.fa-heart
        a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Previous
        a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Next
    h1.separate Watch your favorite movies
    
    body
        if  favouriteMovies.length > 0
            main
                section.thumbSection
                    h2.thumbTitle Favorite Movies
                    .thumbTiles.swiper-container
                        .swiper-wrapper
                            each film, index in favouriteMovies
                                .swiper-slide
                                    a.thumbTile(href=`/watch/detail/${film._id}`)
                                        img.thumbTile__image(src=film.ImageSrc alt=`${film.Name}`)
                                    p.nameMovie #{film.Name}
        if lastWatch.length > 0
            main
                section.thumbSection
                    h2.thumbTitle Mới xem gần đây
                    .thumbTiles.swiper-container
                        .swiper-wrapper
                            each film, index in lastWatch
                                .swiper-slide
                                    a.thumbTile(href=`/watch/detail/${film._id}`)
                                        img.thumbTile__image(src=film.ImageSrc alt=`${film.Name}`)
                                    p.nameMovie #{film.Name}    
        main
            section.thumbSection
                h2.thumbTitle Action Movies
                .thumbTiles.swiper-container
                    .swiper-wrapper
                        each film, index in actionMovies
                            .swiper-slide
                                a.thumbTile(href=`/watch/detail/${film._id}`)
                                    img.thumbTile__image(src=film.ImageSrc alt=`${film.Name}`)
                                p.nameMovie #{film.Name}
        .separator
        main
            section.thumbSection
                h2.thumbTitle Romantic Movies
                .thumbTiles.swiper-container
                    .swiper-wrapper
                        each film, index in loveMovies
                            .swiper-slide
                                a.thumbTile(href=`/watch/detail/${film._id}`)
                                    img.thumbTile__image(src=film.ImageSrc alt=`${film.Name}`)
                                p.nameMovie #{film.Name}
        .separator
        main
            section.thumbSection
                h2.thumbTitle Hornor Movies
                .thumbTiles.swiper-container
                    .swiper-wrapper
                        each film, index in honorMovies
                            .swiper-slide
                                a.thumbTile(href=`/watch/detail/${film._id}`)
                                    img.thumbTile__image(src=film.ImageSrc alt=`${film.Name}`)
                                p.nameMovie #{film.Name}
        
    