extends ../layouts/default.pug

block main 
    #carouselExampleIndicators.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
            each film, index in films
                if(index === 0)
                    li.active(data-target='#carouselExampleIndicators', data-slide-to= index)
                else
                    li(data-slide-to= index)
        .carousel-inner
            if films
                each film, index in films
                    .carousel-item(class=index === 0 ? 'active' : '')
                        img.d-block.w-100(src=`/images/phim${index+1}.jpeg` alt=`Poster of ${film.title}`)
                        .gradient-overlay
                        .carousel-caption
                            h5= film.Name
                            p= film.Description
                            a.button-slider(href=`/watch/detail/${film._id}`)
                                i.fa-solid.fa-play
                            a.button-slider.like-button 
                                i.fa-regular.fa-heart
        a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Previous
        a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Next
    h1.separate
        if user.like.length == 0 && user.lastWatch == 0
            a(href = "/watch").separate__description You haven't liked any movies yet. Let's find your favorite movies
        else
            p.separate__description Here are your movies you care
        
    body
        - var check = 0
        if  favouriteMovies.length > 0
            - check = 1
            main
                section.thumbSection
                    h2.thumbTitle Favorite Movies
                    .thumbTiles.swiper-container
                        .swiper-wrapper
                            each film, index in favouriteMovies
                                .swiper-slide
                                    a.thumbTile(href=`/watch/detail/${film._id}`)
                                        img.thumbTile__image(src=film.ImageSrc alt=`${film.Name}`)
                                    p.nameMovie #{film.Name}
        if lastWatch.length > 0
            -check = 1
            main
                section.thumbSection
                    h2.thumbTitle Mới xem gần đây
                    .thumbTiles.swiper-container
                        .swiper-wrapper
                            each film, index in lastWatch
                                .swiper-slide
                                    a.thumbTile(href=`/watch/detail/${film._id}`)
                                        img.thumbTile__image(src=film.ImageSrc alt=`${film.Name}`)
                                    p.nameMovie #{film.Name}    
        
        
        
    