extends ../layouts/default.pug

block main
    link(rel="stylesheet" href = "stylesheets/watch.css")
    body
        .movies 
            h1.title Movies
            p.content Movies move us like nothing else can, whether they’re scary, funny, dramatic, romantic or anywhere in-between. So many titles, so much to experience.
            form.searchForm(action="/watch" method="GET")
                .input-group.mb-3
                    input.form-control(type='text' placeholder="Search ..." aria-label="Recipient's username" aria-describedby='basic-addon2' name = "title")
                    .input-group-append 
                        button.btn.btn-outline-secondary(type='submit') Search

        .listFilm
            if movies.length > 0 && queryTitle
                main
                    section.thumbSection
                        h2.thumbTitle Search for : #{queryTitle}  
                        .thumbTiles.swiper-container
                            .swiper-wrapper
                                each film, index in movies
                                    .swiper-slide
                                        a.thumbTile(href=`/watch/detail/${film._id}`)
                                            img.thumbTile__image(src=film.ImageSrc alt=`${film.Name}`)
                                        p.nameMovie #{film.Name}
            
            if queryTitle && movies.length == 0
                h2.thumbTitle No results for :  #{queryTitle}
            main
                section.thumbSection
                    h2.thumbTitle Romantic Movies
                    .thumbTiles.swiper-container
                        .swiper-wrapper
                            each film, index in loveMovies
                                .swiper-slide
                                    a.thumbTile(href=`/watch/detail/${film._id}`)
                                        img.thumbTile__image(src=film.ImageSrc alt=`${film.Name}`)
                                    p.nameMovie #{film.Name}

            main
                section.thumbSection
                    h2.thumbTitle Honor Movies
                    .thumbTiles.swiper-container
                        .swiper-wrapper
                            each film, index in honorMovies
                                .swiper-slide
                                    a.thumbTile(href=`/watch/detail/${film._id}`)
                                        img.thumbTile__image(src=film.ImageSrc alt=`${film.Name}`)
                                    p.nameMovie #{film.Name}
            
            main
                section.thumbSection
                    h2.thumbTitle Comedy Movies
                    .thumbTiles.swiper-container
                        .swiper-wrapper
                            each film, index in comedyMovies
                                .swiper-slide
                                    a.thumbTile(href=`/watch/detail/${film._id}`)
                                        img.thumbTile__image(src=film.ImageSrc alt=`${film.Name}`)
                                    p.nameMovie #{film.Name}

            main
                section.thumbSection
                    h2.thumbTitle Thriller Movies
                    .thumbTiles.swiper-container
                        .swiper-wrapper
                            each film, index in thrillerMovies
                                .swiper-slide
                                    a.thumbTile(href=`/watch/detail/${film._id}`)
                                        img.thumbTile__image(src=film.ImageSrc alt=`${film.Name}`)
                                    p.nameMovie #{film.Name}

            main
                section.thumbSection
                    h2.thumbTitle Science Movies
                    .thumbTiles.swiper-container
                        .swiper-wrapper
                            each film, index in scienceMovies
                                .swiper-slide
                                    a.thumbTile(href=`/watch/detail/${film._id}`)
                                        img.thumbTile__image(src=film.ImageSrc alt=`${film.Name}`)
                                    p.nameMovie #{film.Name}
        
            main
                section.thumbSection
                    h2.thumbTitle Cartoon Movies
                    .thumbTiles.swiper-container
                        .swiper-wrapper
                            each film, index in cartoonMovies
                                .swiper-slide
                                    a.thumbTile(href=`/watch/detail/${film._id}`)
                                        img.thumbTile__image(src=film.ImageSrc alt=`${film.Name}`)
                                    p.nameMovie #{film.Name}        

